body {
  background: #342E37 !important;
  }

.container {
  padding-top: 30px;
} 
  
h1 {
  color: #fff !important;
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}
  
img {
  max-width: 40%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

form {
  padding: 30px;
}
  
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #676264 !important;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #2E282A !important;
}
  
.btn a {
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #2E282A;
  top: 2px; 
}

.btn:active {
  box-shadow: none;
  top: 6px; 
}

#staticBackdropLabel{
  color: white !important;
}

#btn-close {
  color: white;
  filter: invert(1) grayscale(1) brightness(2);
}

#modal-content-full {
 color: white !important;
  background-color: rgb(74, 74, 74) !important;
  border-radius: 0.3rem;
}

.light-theme {
  background-color: #f8f9fa !important;
  color: #333 !important;
}

#modal-content-full.light-theme {
  color: #333 !important; 
  background-color: #fff !important;
}

#staticBackdropLabel.light-theme {
  color: #333 !important;
}

